.body{
    padding: 0;
    margin: 0;
}

.navbar{
    background-color: rgb(23, 23, 23);
}

.profileLogo{
    margin: 15px;
    margin-left: 15px;
}

.navbar li .active{
    border-bottom: 3px #ff5fa2 solid;
}

.nav-item{
    margin-right: 60px;
}

.nav-item :hover{
    color: #fccfa6;
}

.home-container{
    width: 100%;
    height: 100vh;
    background: url("../profile/assets/thumbnail-home.jpg") top center;
    background-size: cover;
    padding: 0;
}

.title-home{
    color: white;
}

.bio2 ul{
    list-style-type: none;
}

.aboutMe-container{
    padding: 50px;
}

.title-am{
    margin-top: 50px;
    color: #ff5fa2;
}

.am{
    margin-top: 100px;
    margin-bottom: 100px;
}

.pic1{
    margin-left: 50px;
    margin-top: 18px;
}

.bg-dark.bg-gradient{
    font-size: 20px;
}

.bio1{
    margin-left: 30px;
    padding: 0;
}

.bio2{
    font-size: 18px;
    margin-top: 50px;
}

.question ul{
    line-height: 40px;
}

.question{
    opacity: 80%;
}

.answer ul{
    line-height: 40px;
}

.education-container{
    padding: 50px;
}


.title-e{
    color: #ff5fa2;
}

.timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
    box-sizing: border-box;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5c5c5;
}

.timeline ul{
    margin: 0;
    padding: 0;
}

.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}

.content{
    padding-bottom: 20px;
    border: 1px solid #eee;
    padding: 10px 10px;
    border-radius: 5px;
    background: white;
    text-align: justify;
}

.timeline ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -11px;
    width: 20px;
    height: 20px;
    background: #fccfa6;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ff5fa2;
}

.timeline ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -11px;
    width: 20px;
    height: 20px;
    background: #fccfa6;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #ff5fa2;
}

.timeline ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: rgb(23, 23, 23);
}

.timeline ul li p{
    margin: 10px 0 0;
    padding: 0;
    line-height: 1.7;
}

.timeline ul li:nth-child(odd) .time{
    position: absolute;
    top: 12px;
    right: -190px;
    margin: 0;
    padding: 8px 16px;
    background: rgb(23, 23, 23);
    color: white;
    border-radius: 18px;
}

.timeline ul li:nth-child(even) .time{
    position: absolute;
    top: 12px;
    left: -190px;
    margin: 0;
    padding: 8px 16px;
    background: rgb(23, 23, 23);
    color: white;
    border-radius: 18px;
}

.skills-container{
    background-color: rgb(23, 23, 23);
    color: #fccfa6;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.progress{
    height: 25px;
}

.progress-bar1{
    background-color: #fdb3a5;
}
.progress-bar2{
    background-color: 	#fe97a4;
}
.progress-bar3{
    background-color: #fe7ba3;
}
.progress-bar4{
    background-color: #ff5fa2;
}

.portfolio-container{
    padding: 50px;
}

.title-p{
    color: #ff5fa2;
}

.category{
    margin-left: 55px;
}

.photo-container{
    margin: 10px;
    padding: 0;
}

.design-container{
    margin: 10px;
    padding: 0;
}
.draw-container{
    margin: 10px;
    padding: 0;
}

.contact-container{
    background-color: rgb(23, 23, 23);
    color: #fccfa6;
    padding: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.email{
    background-color: #fccfa6;
    width: 350px;
}

.phone{
    background-color: #fccfa6;
    width: 350px;
}

.instagram{
    background-color: #fccfa6;
}
